src
docs/books
docs/articles
docs/projects/multislice/figures/ireloh/gif
docs/projects/multislice/figures/ireloh/*sim.png
docs/projects/multislice/figures/ireloh/*exp.png

reports/
dials/
#duplicate figures
docs/documents/report/figures
docs/documents/report/eqs/
*.log
*.aux
*.toc
*.blg
*.eps
*.pdf_tex
*-eps-converted-to.pdf
**/figures/**/*.pdf

docs/documents/keV_poster
*.~*
